html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 70px 0 0 0;
}

a:focus {
  outline: none;
}


.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#place-picker-map {
  height: 100%;
}
